{% extends 'base.html' %}
{% load static %}

{% block title %}
мариово
{% endblock %}



{% block hero %}

<!-- Hero Start -->
<section class="home-slider position-relative" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item align-items-center active" data-bs-interval="3000"
                style="background:url('../../static/nature/images/cover.jpg') center center;">
                <div class="bg-half-260 d-table w-100">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading mt-4">
                                    <h1 class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">Creative And
                                        Growing Business</h1>
                                    <p class="para-desc text-white-50 para-dark mx-auto animated fadeInUpBig animation-delay-7">Splash your
                                        dream color Bring your home to lively Colors. We make it a priotity to offer flexible services to
                                        accomodate</p>
                                    <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                        <a href="javascript:void(0)" class="btn btn-custom me-2 mb-2">Check it out</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-custom mb-2">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <div class="carousel-item align-items-center" data-bs-interval="3000"
                style="background:url('../../static/nature/images/cover2.jpg') center center;">
                <div class="bg-half-260 d-table w-100">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading mt-4">
                                    <h1 class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">We Provide
                                        Business Solutions</h1>
                                    <p class="para-desc mx-auto text-white-50 para-dark animated fadeInUpBig animation-delay-7">
                                        Splash your dream color Bring your home to lively Colors. We make it a priotity to offer
                                        flexible services to accomodate</p>
                                    <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                        <a href="javascript:void(0)" class="btn btn-custom me-2 mb-2">About us</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-custom mb-2">Contact us</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <!--end carousel item-->
            <div class="carousel-item align-items-center" data-bs-interval="3000"
                style="background:url('../../static/nature/images/cover3.jpg') center center;">
                <div class="bg-half-260 d-table w-100">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading mt-4">
                                    <h1 class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">Made For
                                        Your Business</h1>
                                    <p class="para-desc mx-auto text-white-50 para-dark animated fadeInUpBig animation-delay-7">
                                        Splash your dream color Bring your home to lively Colors. We make it a priotity to offer
                                        flexible services to accomodate</p>
                                    <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-12">
                                        <a href="javascript:void(0)" class="btn btn-custom me-2 mb-2">Buy Now</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-custom mb-2">Contact us</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <!--end carousel item-->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


{% endblock %}


{% block features %}
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card service-wrapper features features-two rounded border-0 shadow p-4">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <i class="uim uim-signal-alt-3"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title">Minimalism Feast</h5>
                        <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted
                            by the when looking at its layout.</p>
                        <div class="mt-3">
                            <a href="javascript:void(0)" class="text-custom">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                        <i class="uim uim-signal-alt-3 icons"></i>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card service-wrapper features features-two rounded border-0 shadow p-4">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <i class="uim uim-flip-h-alt"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title">Modern Workflow</h5>
                        <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted
                            by the when looking at its layout.</p>
                        <div class="mt-3">
                            <a href="javascript:void(0)" class="text-custom">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                        <i class="uim uim-flip-h-alt icons"></i>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card service-wrapper features features-two rounded border-0 shadow p-4">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <i class="uim uim-flip-v"></i>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title">Unique Features</h5>
                        <p class="text-muted mt-3 mb-0">It is a long established fact that a reader will be distracted
                            by the when looking at its layout.</p>
                        <div class="mt-3">
                            <a href="javascript:void(0)" class="text-custom">Read More <i
                                    class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                        <i class="uim uim-flip-v icons"></i>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end conatiner-->
</section>
<!--end section-->
<!-- FEATURES End -->
{% endblock %}

<script src="{% static 'js/slider.js' %}"></script>

