{% extends 'mariovo/base.html' %}
{% load static %}
<!--Automatically update Bootstrap navigation or list group components based on scroll position to indicate which link is currently active in the viewport.-->
{% block title %}
Мариово
{% endblock %}

{% block navbar%}
<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
    <div class="container">
        <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                class="bi bi-compass mb-2" viewBox="0 0 16 16">
                <path
                    d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
            </svg>
            <span class="fw-lighter h3 text-muted">Mariovo</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-justify"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <!--end button-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul id="navbar-navlist" class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">Home</a>
                </li>
                <!--end nav item-->
                <li class="nav-item">
                    <a class="nav-link" href="#villages">Villages</a>
                </li>
                <!--end nav item-->
                <li class="nav-item">
                    <a class="nav-link" href="#poi">POI</a>
                </li>
                <!--end nav item-->
                <li class="nav-item">
                    <a class="nav-link" href="#team">Routes</a>
                </li>
                <!--end nav item-->
                <li class="nav-item">
                    <a class="nav-link" href="#price">Gallery</a>
                </li>
                <!--end nav item-->
                <li class="nav-item">
                    <a class="nav-link" href="#blog">News</a>
                </li>
                <!--end nav item-->
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <!--end nav item-->
            </ul>
            <!--end navbar nav-->
        </div>
        <!--end collapse-->
    </div>
</nav>
{% endblock %}

{% block parallax%}
<section class="home-slider position-relative" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item align-items-center active" data-bs-interval="5000"
                style="background:url('../../static/mariovo/images/cover2.jpg') center center;">
                <div class="bg-half-260 d-table w-100">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading mt-4">
                                    <h1
                                        class="heading mb-3 text-white title-dark animate__animated animate__fadeInUpBig animate__delay-1s">
                                        Let's Explore Awesome Mariovo</h1>
                                    <p
                                        class="para-desc text-white-50 para-dark mx-auto animate__animated animate__fadeInUpBig animate__delay-2s">
                                        Find great places to stay, eat, shop, or visit from local experts.</p>
                                    <div class="mt-4 pt-2 animate__animated animate__fadeInUpBig animate__delay-3s">
                                        <a href="javascript:void(0)" class="btn btn-custom me-2 mb-2">Check it
                                            out</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-custom mb-2">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <!--end carousel item-->

            <div class="carousel-item align-items-center" data-bs-interval="3000"
                style="background:url('../../static/mariovo/images/ligurasa.jpg') center center;">
                <div class="bg-half-260 d-table w-100">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading mt-4">
                                    <h1
                                        class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">
                                        Entries to Mariovo</h1>
                                    <p
                                        class="para-desc mx-auto text-white-50 para-dark animated fadeInUpBig animation-delay-7">
                                        There are several entries to Mariovo region by vehicles,
                                        some well known some not so known and some unknown.</p>
                                    <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-11">
                                        <a href="javascript:void(0)" class="btn btn-custom me-2 mb-2">About us</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-custom mb-2">Contact
                                            us</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <!--end carousel item-->

            <div class="carousel-item align-items-center" data-bs-interval="3000"
                style="background:url('../../static/mariovo/images/reka.jpg') center center;">
                <div class="bg-half-260 d-table w-100">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading mt-4">
                                    <h1
                                        class="heading mb-3 text-white title-dark animated fadeInUpBig animation-delay-3">
                                        Water resources</h1>
                                    <p
                                        class="para-desc mx-auto text-white-50 para-dark animated fadeInUpBig animation-delay-7">
                                        River Crna leaves the Pelagonia valley at the Dobroveni village and goes in
                                        the biggest canyon in Macedonia, the Skočivir valley.</p>
                                    <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-12">
                                        <a href="javascript:void(0)" class="btn btn-custom me-2 mb-2">Buy Now</a>
                                        <a href="javascript:void(0)" class="btn btn-outline-custom mb-2">Contact
                                            us</a>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <!--end carousel item-->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% endblock %}

{% block features%}
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card service-wrapper features features-two rounded border-0 shadow p-4">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-map" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z" />
                        </svg>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title">Mariovo region</h5>
                        <p class="text-muted mt-3 mb-0">This historic region consists of 30 villages spread across
                            the southern chunk of Prilep Municipality, as well as neighboring portions of Novaci and
                            Kavadarci municipalities.</p>
                        <div class="mt-3">
                            <a href="javascript:void(0)" class="text-custom">
                                <a href="{% url 'mariovo:region' %}" target="_blank" class="text-custom">Show Map
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </a>
                        </div>
                    </div>
                    <!--<div class="big-icon h1 text-custom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-bar-chart"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
                            </svg>
                        </div>-->
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card service-wrapper features features-two rounded border-0 shadow p-4">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-signpost" viewBox="0 0 16 16">
                            <path
                                d="M7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414a1 1 0 0 0-2 0zM12.532 5l1.666 2-1.666 2H2V5h10.532z" />
                        </svg>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title">Get in Mariovo</h5>
                        <p class="text-muted mt-3 mb-0">There are several entries to the Mariovo region by vehicles,
                            some well known some not so known and some unknown.</p>
                        <div class="mt-3">
                            <a href="javascript:void(0)" class="text-custom">Read more
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card service-wrapper features features-two rounded border-0 shadow p-4">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-signpost-2" viewBox="0 0 16 16">
                            <path
                                d="M7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586a1 1 0 0 0-2 0zM13.5 3l.75 1-.75 1H2V3h11.5zm.5 5v2H2.5l-.75-1 .75-1H14z" />
                        </svg>
                    </div>
                    <div class="content mt-4">
                        <h5 class="title">Get around Mariovo</h5>
                        <p class="text-muted mt-3 mb-0">Regional roads through Mariovo and local roads leading to
                            Mariovo villages.</p>
                        <div class="mt-3">
                            <a href="javascript:void(0)" class="text-custom">Read More
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="big-icon h1 text-custom">
                        <i class="uim uim-flip-v icons"></i>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end conatiner-->
</section>
{% endblock %}

{% block villages%}
<section class="section" id="villages">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="section-title mb-0 me-0 me-md-4">
                    <h4 class="title mb-4">Mariovo Villages</h4>
                    <p class="text-muted">This historic region consists of 30 villages spread across the southern
                        chunk of Prilep Municipality, as well as neighboring portions of Novaci and Kavadarci
                        municipalities.</p>
                    <p class="text-muted mb-0">There are 14 villages in Prilep municipality, 11 in Novaci
                        municipality and 5 in Kavadarci municipality.</p>
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn btn-custom">Village list
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right mb-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <!--end section title-->
            </div>
            <!--end col-->

            <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="position-relative">
                    <img src="{% static 'mariovo/images/village.jpg' %}" class="img-fluid shadow rounded" alt="village image">
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
{% endblock %}

{% block poi%}
<section class="section bg-light" id="poi">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Points of Interest</h4>
                    <p class="text-muted mx-auto para-desc mb-0">Besides well known Movie Bridge near the village
                        Zovik, there are more places one must visit.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="service-container shadow rounded p-4 text-center">
                    <div class="number-icon position-relative">
                        <div class="icon-2 d-inline-block border rounded-pill">
                            <i class="uil uil-university text-custom"></i>
                        </div>

                        <div class="number text-center rounded-pill bg-white border">
                            <span class="fw-bold">11</span>
                        </div>
                    </div>

                    <div class="content mt-3">
                        <h5 class="title text-dark">Landscape Sites</h5>
                        <p class="text-muted">Mariovo region is situated among mountains Selecka (peak Visoka 1417m),
                            Nidje, Kozjak and Dren.</p>
                        <a href="javascript:void(0)" class="text-dark">Read more <i
                                class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!--end service container-->
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="service-container shadow rounded p-4 text-center">
                    <div class="number-icon position-relative">
                        <div class="icon-2 d-inline-block border rounded-pill">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">

                                <g>
                                    <path d="M40.851,446.638c-4.512,0-8.17,3.658-8.17,8.17v10.894c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-10.894
                                                            C49.021,450.296,45.363,446.638,40.851,446.638z" />
                                </g>


                                <g>
                                    <path d="M8.17,413.957c-4.512,0-8.17,3.658-8.17,8.17v10.894c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-10.894
                                                            C16.34,417.616,12.682,413.957,8.17,413.957z" />
                                </g>

                                <g>
                                    <path d="M106.213,413.957c-4.512,0-8.17,3.658-8.17,8.17v10.894c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-10.894
                                                            C114.383,417.616,110.725,413.957,106.213,413.957z" />
                                </g>
                                <g>
                                    <path d="M405.787,99.677c-4.513,0-8.17,3.658-8.17,8.17v297.94c0,4.512,3.657,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-297.94
                                                            C413.957,103.335,410.3,99.677,405.787,99.677z" />
                                </g>
                                <g>
                                    <path d="M438.468,99.677c-4.513,0-8.17,3.658-8.17,8.17v297.94c0,4.512,3.657,8.17,8.17,8.17s8.17-3.658,8.17-8.17v-297.94
                                                            C446.638,103.335,442.981,99.677,438.468,99.677z" />
                                </g>
                                <g>
                                    <path d="M495.66,464.384v-18.221c3.171-1.123,5.447-4.14,5.447-7.695c0-4.512-3.657-8.17-8.17-8.17h-13.617v-70.808h24.511
                                                            c4.513,0,8.17-3.658,8.17-8.17s-3.657-8.17-8.17-8.17h-24.511V83.336h2.723c4.513,0,8.17-3.658,8.17-8.17s-3.657-8.17-8.17-8.17
                                                            h-2.723V8.17c0-4.512-3.657-8.17-8.17-8.17h-98.043c-4.513,0-8.17,3.658-8.17,8.17v58.826h-2.723c-4.513,0-8.17,3.658-8.17,8.17
                                                            s3.657,8.17,8.17,8.17h2.723v259.813h-16.554c-1.601-31.804-12.546-61.844-31.911-87.323c-2.731-3.592-7.854-4.292-11.449-1.561
                                                            c-3.593,2.73-4.291,7.855-1.561,11.448c17.184,22.611,26.95,49.236,28.536,77.436h-48.763V177.021c0-4.512-3.657-8.17-8.17-8.17
                                                            h-29.297l-30.286-30.286c-0.188-0.188-0.387-0.368-0.594-0.537c-0.053-0.044-0.111-0.081-0.164-0.123
                                                            c-0.156-0.122-0.313-0.243-0.477-0.353c-0.051-0.035-0.106-0.063-0.158-0.096c-0.173-0.11-0.347-0.219-0.529-0.317
                                                            c-0.039-0.022-0.082-0.038-0.122-0.059c-0.197-0.101-0.396-0.199-0.601-0.284c-0.029-0.012-0.06-0.021-0.088-0.033
                                                            c-0.217-0.087-0.437-0.169-0.662-0.237c-0.033-0.01-0.066-0.016-0.099-0.025c-0.221-0.064-0.446-0.123-0.674-0.169
                                                            c-0.069-0.014-0.139-0.02-0.208-0.032c-0.194-0.034-0.387-0.068-0.585-0.087c-0.27-0.027-0.542-0.041-0.816-0.041H177.02
                                                            c-4.512,0-8.17,3.658-8.17,8.17v50.515c-36.246,5.005-69.593,22.45-94.561,49.628c-24.983,27.194-39.509,61.964-41.393,98.665
                                                            H8.17c-4.512,0-8.17,3.658-8.17,8.17s3.658,8.17,8.17,8.17h160.681v70.808h-13.617c-4.512,0-8.17,3.658-8.17,8.17
                                                            c0,3.556,2.276,6.572,5.447,7.695v18.221c-9.509,3.373-16.34,12.454-16.34,23.105c0,13.516,10.995,24.511,24.511,24.511h130.723
                                                            c13.515,0,24.511-10.995,24.511-24.511c0-10.651-6.831-19.733-16.34-23.105v-18.221c3.171-1.123,5.447-4.14,5.447-7.695
                                                            c0-4.512-3.657-8.17-8.17-8.17h-13.617v-70.808h81.702v70.808h-13.617c-4.513,0-8.17,3.658-8.17,8.17
                                                            c0,3.556,2.276,6.572,5.447,7.695v18.221c-9.509,3.373-16.34,12.454-16.34,23.105c0,13.516,10.996,24.511,24.511,24.511h130.723
                                                            C501.004,512,512,501.005,512,487.489C512,476.839,505.169,467.757,495.66,464.384z M185.192,152.511h16.34v253.277
                                                            c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17V164.064l16.34,16.34v61.978c0,4.512,3.658,8.17,8.17,8.17
                                                            s8.17-3.658,8.17-8.17v-57.191h16.34v245.106h-81.702V152.511z M49.258,343.149c3.746-67.079,53.349-121.675,119.593-131.781
                                                            v131.781H49.258z M168.851,446.638h114.383v16.34H168.851V446.638z M291.404,479.319c4.506,0,8.17,3.665,8.17,8.17
                                                            c0,4.506-3.665,8.17-8.17,8.17H160.681c-4.506,0-8.17-3.665-8.17-8.17c0-4.506,3.665-8.17,8.17-8.17H291.404z M381.277,16.34
                                                            h81.702v50.655h-81.702V16.34z M381.277,83.336h81.702v346.962h-81.702V83.336z M364.936,446.638h114.383v16.34H364.936V446.638z
                                                                M487.489,495.66H356.766c-4.506,0-8.17-3.665-8.17-8.17c0-4.506,3.665-8.17,8.17-8.17h130.723c4.506,0,8.17,3.665,8.17,8.17
                                                            C495.66,491.995,491.995,495.66,487.489,495.66z" />
                                </g>
                                <g>
                                    <path d="M242.383,266.894c-4.512,0-8.17,3.658-8.17,8.17v130.723c0,4.512,3.658,8.17,8.17,8.17s8.17-3.658,8.17-8.17V275.064
                                                            C250.553,270.552,246.895,266.894,242.383,266.894z" />
                                </g>
                                <g>
                                    <path d="M98.043,65.362H35.404C15.883,65.362,0,81.245,0,100.766s15.883,35.404,35.404,35.404h62.638
                                                            c19.521,0,35.404-15.883,35.404-35.404S117.564,65.362,98.043,65.362z M98.043,119.83H35.404
                                                            c-10.511,0-19.064-8.553-19.064-19.064c0-10.511,8.553-19.064,19.064-19.064h62.638c10.511,0,19.064,8.553,19.064,19.064
                                                            C117.106,111.277,108.554,119.83,98.043,119.83z" />
                                </g>
                                <g>
                                    <path d="M283.234,0H166.128c-19.521,0-35.404,15.883-35.404,35.404c0,19.521,15.883,35.404,35.404,35.404h117.106
                                                            c19.522,0,35.404-15.883,35.404-35.404C318.638,15.883,302.756,0,283.234,0z M283.234,54.468H166.128
                                                            c-10.511,0-19.064-8.553-19.064-19.064c0-10.511,8.553-19.064,19.064-19.064h117.106c10.511,0,19.064,8.553,19.064,19.064
                                                            C302.298,45.916,293.745,54.468,283.234,54.468z" />
                                </g>
                            </svg>

                        </div>

                        <div class="number text-center rounded-pill bg-white border">
                            <span class="fw-bold">02</span>
                        </div>
                    </div>

                    <div class="content mt-3">
                        <h5 class="title text-dark">Archeological sites</h5>
                        <p class="text-muted">In the area of ​​the village Krusevica are remains of the ancient
                            Macedonian city ​​of Pelagonija , which is located at the very top on Visoka pik.</p>
                        <a href="javascript:void(0)" class="text-dark">Read more <i
                                class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <!--end service container-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="service-container shadow rounded p-4 text-center">
                    <div class="number-icon position-relative">
                        <div class="icon-2 d-inline-block border rounded-pill">
                            <svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M 16 4.40625 L 15.21875 5.375 L 11.21875 10.375 L 11 10.65625 L 11 16.9375 L 5.46875 20.40625 L 6.53125 22.09375 L 7 21.8125 L 7 27 L 15 27 L 15 23 C 15 22.433594 15.433594 22 16 22 C 16.566406 22 17 22.433594 17 23 L 17 27 L 25 27 L 25 21.8125 L 25.46875 22.09375 L 26.53125 20.40625 L 21 16.9375 L 21 10.65625 L 20.78125 10.375 L 16.78125 5.375 Z M 16 7.59375 L 19 11.34375 L 19 15.6875 L 16.53125 14.15625 L 16 13.8125 L 15.46875 14.15625 L 13 15.6875 L 13 11.34375 Z M 16 11 C 15.449219 11 15 11.449219 15 12 C 15 12.550781 15.449219 13 16 13 C 16.550781 13 17 12.550781 17 12 C 17 11.449219 16.550781 11 16 11 Z M 16 16.1875 L 23 20.5625 L 23 25 L 19 25 L 19 23 C 19 21.355469 17.644531 20 16 20 C 14.355469 20 13 21.355469 13 23 L 13 25 L 9 25 L 9 20.5625 Z" />
                            </svg>
                        </div>

                        <div class="number text-center rounded-pill bg-white border">
                            <span class="fw-bold">01</span>
                        </div>
                    </div>

                    <div class="content mt-3">
                        <h5 class="title text-dark">Monasteries & Chrch</h5>
                        <p class="text-muted">St. Nicholas Monastery is located in village Manastir and is one of
                            the oldest in Macedonia.</p>
                        <a href="javascript:void(0)" class="text-dark">Listing more
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <!--end service container-->
            </div>
            <!--end col-->

        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
{% endblock %}

{% block sponsors%}
<!-- Start Sponsors -->
<section class="section-two">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" class="avatar avatar-md-sm" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://staging.python.org/static/community_logos/python-logo-generic.svg" class="avatar avatar-md-sm"
                    alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="{% static 'mariovo/images/js.svg' %}" class="avatar avatar-md-sm" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" class="avatar avatar-md-sm" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="{% static 'mariovo/images/leafletjs.svg' %}" class="avatar avatar-small" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="https://www.pythonanywhere.com/static/anywhere/images/PA-logo-snake-only.svg" class="avatar avatar-md-sm" alt="">
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Sponsors -->
{% endblock %}

{% block top%}
<!-- Back to top -->
<a href="#" onclick="topFunction()" class="back-to-top rounded text-center" id="back-to-top"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
    </svg>
</a><!--Note: (.back-to-top) write CSS in {"scss/_components.scc"} and (.back-to-top) write JS in {"js/app.js"}-->
<!-- Back to top -->
{% endblock %}

{% block js%}
<script src="{% static 'mariovo/js/app.js' %}"></script>
{% endblock %}